@charset "UTF-8";
/* CSS Document */
/*--------------- STRANGELOVE ---------------------------*/
@font-face {
    font-family: 'strangelove_textregular';
    src: url('webfonts/strangelove-text-webfont.eot');
    src: url('webfonts/strangelove-text-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/strangelove-text-webfont.woff') format('woff'),
         url('webfonts/strangelove-text-webfont.ttf') format('truetype'),
         url('webfonts/strangelove-text-webfont.svg#strangelove_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*--------------- NEWS GOTHIC CONDENSED ---------------------------*/
@font-face {
	font-family: 'NewsGothicBT-RomanCondensed';
	src: url('webfonts/24D241_0_0.eot');
	src: url('webfonts/24D241_0_0.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/24D241_0_0.woff') format('woff'),
		 url('webfonts/24D241_0_0.ttf') format('truetype');
}

/*--------------- HARRIET DISPLAY ---------------------------*/
@font-face {
    font-family: 'harriet_display_regularRg';
    src: url('webfonts/harrietdisplay-regular-v1r5-webfont.eot');
    src: url('webfonts/harrietdisplay-regular-v1r5-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/harrietdisplay-regular-v1r5-webfont.woff') format('woff'),
         url('webfonts/harrietdisplay-regular-v1r5-webfont.ttf') format('truetype'),
         url('webfonts/harrietdisplay-regular-v1r5-webfont.svg#harriet_display_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'harriet_display_thinregular';
    src: url('webfonts/harrietdisplay-thin-v1r5-webfont.eot');
    src: url('webfonts/harrietdisplay-thin-v1r5-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/harrietdisplay-thin-v1r5-webfont.woff') format('woff'),
         url('webfonts/harrietdisplay-thin-v1r5-webfont.ttf') format('truetype'),
         url('webfonts/harrietdisplay-thin-v1r5-webfont.svg#harriet_display_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------- BUSINESS PENMANSHIP---------------------------*/
@font-face {
	font-family: 'business_penmanshipregular';
	src: url('webfonts/businesspenmanship-webfont.eot');
	src: url('webfonts/businesspenmanship-webfont.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/businesspenmanship-webfont.woff') format('woff'),
		 url('webfonts/businesspenmanship-webfont.ttf') format('truetype');
}

/*--------------- Edie---------------------------*/
@font-face {
	font-family: 'Edie-Mono';
	src: url('webfonts/Edie-Mono.eot');
	src: url('webfonts/Edie-Mono.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Edie-Mono.woff') format('woff'),
		url('webfonts/Edie-Mono.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

/*--------------- GT-Haptik---------------------------*/
@font-face {
	font-family: 'GT-Haptik-Light';
	src: url('webfonts/GTHaptikLight.eot');
	src: url('webfonts/GTHaptikLight.eot?#iefix') format('embedded-opentype'),
		url('webfonts/GTHaptikLight.woff') format('woff'),
		url('webfonts/GTHaptikLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT-Haptik-Regular';
	src: url('webfonts/GTHaptikRegular.eot');
	src: url('webfonts/GTHaptikRegular.eot?#iefix') format('embedded-opentype'),
		url('webfonts/GTHaptikRegular.woff') format('woff'),
		url('webfonts/GTHaptikRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--------------- Calendas Plus---------------------------*/

@font-face {
    font-family: 'calendas-plus';
    src: url('webfonts/calendas_plus-webfont.eot');
    src: url('webfonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/calendas_plus-webfont.woff2') format('woff2'),
         url('webfonts/calendas_plus-webfont.woff') format('woff'),
         url('webfonts/calendas_plus-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calendas-plus';
    src: url('webfonts/calendas_plus_italic-webfont.eot');
    src: url('webfonts/calendas_plus_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/calendas_plus_italic-webfont.woff2') format('woff2'),
         url('webfonts/calendas_plus_italic-webfont.woff') format('woff'),
         url('webfonts/calendas_plus_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'calendas-plus';
    src: url('webfonts/calendas_plus_bold-webfont.eot');
    src: url('webfonts/calendas_plus_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/calendas_plus_bold-webfont.woff2') format('woff2'),
         url('webfonts/calendas_plus_bold-webfont.woff') format('woff'),
         url('webfonts/calendas_plus_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
