body {
	background-color:#fff;
	font-size:16px;
	font-family: 'NewsGothicBT-RomanCondensed',sans-serif;
	margin: 1em;
}

img {
	max-width:100%;
}

footer {
	width: 100%;
	margin: 5em 0 0 0;
	padding: 1em 0;
	border-top: solid 2px #CCC;
	color: #666;
	font-size: 1.2em;
	text-align:center;
}

#theedition .fade {
	 
}


/*----------- START TOP NAV ------------------------------------------*/
.header-container {
	text-transform: uppercase;
	padding: 0.5em 1em;
	margin:0;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	color: #fff;
	display: block;
	
	/* opacity:0.8; 
    filter:alpha(opacity=80); 
	border-bottom: solid 1px #666; */
}
/*.header-logo {
	display:inline-block;
	width:0%;
}*/

.header-links-container {
	display:inline-block;
	float:right;
	text-align:right;
	margin-right: 4em;
	width:100%;
	/*background-color:#000;*/
}
.header-links-container a {
	color:#fff;
}

.header-links-container a:link {
    text-decoration: none;
}

.header-links-container a:visited {
    text-decoration: none;
	color:#CCC;
}

.header-links-container a:hover {
    text-decoration: underline;
}

.header-links-container a:active {
    text-decoration: none;
}

.header-links {
	font-size:1.1em;
	padding: 0 0.6em;
}

.welcome-showhide {
	display:inline;
}

/*----------- END TOP NAV ------------------------------------------*/
/*----------- START NAV ------------------------------------------*/


#masthead {
	position:relative;
	text-align:center;
	margin: 2em;
}

#masthead img {
	width: 26%;
}

#nav { 
	text-align:center;
}

#nav li, #nav ul {
	margin: 0px;
	padding: 0px;
	
}

#nav li {
	list-style: none;
	text-transform: uppercase;
	display:inline;
	
}

#nav li a {
}

#nav li a:link, #nav a:visited {
	text-decoration:none;
	color:#494949;
}

#nav li a:hover, #nav li a:active {
	text-decoration:underline;
	color:#666;
} 
/*----------- END NAV ------------------------------------------*/


/*----------- START TILES ------------------------------------------*/
.issue {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;	/*background-color:#CCC;*/
}

.past-issues {
	margin-top:7em; 
	border-top: solid 2px #fff;
}

.da-thumbs {
	list-style: none;
	width: 100%;
	/* height: 60px; */
	position: relative;
	margin: 0px;
	padding: 0px;
	z-index:2;
}

.da-thumbs li {
	float: left;
	display:inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 33.33%;
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
	width: 100%;
}
.da-thumbs li a {
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.da-thumbs li a div {
	position: absolute;
	background: rgba(255,255,255,0.75);
	background-size:contain;
	width: 100%;
	height: 100%;
}
.da-thumbs li a div.da-animate {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
/*.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	font-family: 'strangelove_textregular',sans-serif;
	font-size: 4em;
	color: rgba(255,255,255,0.9);
}*/

#extraWide {
	width:66% !important; 
}

.da-thumbs .container{
	border-top: solid 2px #fff;
}

.da-thumbs li div{
	background-color: rgba(255,255,255,0.75);
	background-repeat: no-repeat;
	background-position: center center;
}

/*----------- EARTH 2015 --------------*/
.da-thumbs .whiteSands{
	background-image: url(../images/preview-white-sands.png);
}

.da-thumbs .kilauea{
	background-image: url(../images/preview-kilauea.png);
}
.da-thumbs .scotland{
	background-image: url(../images/preview-scotland.png);
}


/*----------- WATER 2014 --------------*/
.da-thumbs .amalfi{
	background-image: url(../images/preview-amalfi.png);
}

.da-thumbs .tahoe{
	background-image: url(../images/preview-tahoe.png);
}
.da-thumbs .norway{
	background-image: url(../images/preview-norway.png);
}


/*----------- AIR 2014 --------------*/
.da-thumbs .barcelona{
	background-image: url(../images/preview-barcelona.png);
}

.da-thumbs .banff{
	background-image: url(../images/preview-banff.png);
}
.da-thumbs .maui{
	background-image: url(../images/preview-maui.png);
}


/*----------- SOLSTICE 2013 --------------*/
.da-thumbs .catskills{
	background-image: url(../images/preview-catskills.png);
}

.da-thumbs .nootka{
	background-image:url(../images/preview-nootka.png);
}

.da-thumbs .kahala{
	background-image:url(../images/preview-kahala.png);
}

/*----------- SUMMER 2013 --------------*/
.da-thumbs .southern-land{
	background-image:url(../images/preview-southern-land.png);
}
.da-thumbs .jenner{
	background-image:url(../images/preview-jenner.png);
}

.da-thumbs .southcarolina{
	background-image:url(../images/preview-southcarolina.png);
}

/*----------- SPRING 2013 --------------*/
.da-thumbs .montana{
	background-image:url(../images/preview-graphic-montana.png);
}

.da-thumbs .sonoma{
	background-image:url(../images/preview-graphic-sonoma.png);
}

.da-thumbs .newzealand{
	background-image:url(../images/preview-graphic-newzealand.png);
}

.da-thumbs .bend{
	background-image:url(../images/preview-graphic-bend.png);
}

/*----------- ON GOING --------------*/
.da-thumbs .portraits{
	background-image:url(../images/preview-portraits.png);
}

.da-thumbs .place{
	background-image:url(../images/preview-place.png);
}

.da-thumbs .blank{
	background-image:url(../images/preview-dummy.png);
}

/*----------- END TILES ------------------------------------------*/

/*----------- START DOTS ------------------------------------------*/
.dots {
	position: relative;
	bottom: -50px;
	width: 100%;
	text-align:center;
	z-index:1;
}

/*            
			<div class="dotLayout"><div id="roadtripEverglades" class="dot">roadtrip</div></div>	*/
			
/*--- EARTH 2015 DOTS ---*/

#fieldworkMiki { 
	background-image:url(../fieldwork/miki/images/dot.jpg);
	background-size: 100% 100%;
}

#travellogSacredValley { 
	background-image:url(../travellog/sacred-valley/images/dot.jpg);
	background-size: 100% 100%;
}

#ranchChicoBasin { 
	background-image:url(../ranch/chico-basin/images/dot.jpg);
	background-size: 100% 100%;
}
	
			
/*--- WATER DOTS ---*/

#familyCostaBrava { 
	background-image:url(../familytravel/costabrava/images/dot.jpg);
	background-size: 100% 100%;
}
#photographerTahiti { 
	background-image:url(../photographer/tahiti/images/dot.jpg);
	background-size: 100% 100%;
}
#travellogBerlin { 
	background-image:url(../travellog/berlin/images/dot.jpg);
	background-size: 100% 100%;
}
#conserveBigSur { 
	background-image:url(../conserve/bigsur/images/dot.jpg);
	background-size: 100% 100%;
}

#roadtripEverglades { 
	background-image:url(../roadtrip/everglades/images/dot.jpg);
	background-size: 100% 100%;
}

/*--- AIR DOTS ---*/

#surfElSalvador { 
	background-image:url(../surf/elsalvador/images/dot.jpg);
	background-size: 100% 100%;
}
#familyTravelNicaragua { 
	background-image:url(../familytravel/nicaragua/images/dot.jpg);
	background-size: 100% 100%;
}
#travellogHongKong { 
	background-image:url(../travellog/hongkong/images/dot.jpg);
	background-size: 100% 100%;
}
#workshopJaipur { 
	background-image:url(../workshop/jaipur/images/dot.jpg);
	background-size: 100% 100%;
}

#hotspringsBridgeport { 
	background-image:url(../hotsprings/bridgeport/images/dot.jpg);
	background-size: 100% 100%;
}



/*--- SOLSTICE DOTS ---*/

#fieldworkMckenna { 
	background-image:url(../fieldwork/mckenna/images/dot.jpg);
	background-size: 100% 100%;
}

#beautyFtGreen { 
	background-image:url(../beauty/ftgreen/images/dot.jpg);
	background-size: 100% 100%;
}

#profileWrenn { 
	background-image:url(../profile/wrenn/images/dot.jpg);
	background-size: 100% 100%;
}

#travellogCabrera { 
	background-image:url(../travellog/cabrera/images/dot.jpg);
	background-size: 100% 100%;
}

#forageSaltPoint { 
	background-image:url(../forage/saltpoint/images/dot.jpg);
	background-size: 100% 100%;
}

/*--- SUMMER DOTS ---*/
#travellogSantorini { 
	background-image:url(../travellog/santorini/images/dot.jpg);
	background-size: 100% 100%;
}
#makerChristenson { 
	background-image:url(../maker/chrischristenson/images/dot.jpg);
	background-size: 100% 100%;
}
#familytravelFinland { 
	background-image:url(../familytravel/finland/images/dot.jpg);
	background-size: 100% 100%;
}
#fieldworkTahiti { 
	background-image:url(../fieldwork/tahiti/images/dot.jpg);
	background-size: 100% 100%;
}
#beautyBrooklyn { 
	background-image:url(../beauty/brooklyn/images/dot.jpg);
	background-size: 100% 100%;
}

/*--- SPRING DOTS ---*/
#roadtripSantaBarbara { 
	background-image:url(../roadtrip/images/santabarbara-dot.png);
	background-size: 100% 100%;
}
#travellogSwitzerland { 
	background-image:url(../travellog/images/switzerland-dot.png);
	background-size: 100% 100%;
}
#hotspringsCalistoga { 
	background-image:url(../hotsprings/calistoga/images/dot.png);
	background-size: 100% 100%;
}

.dotLayout {
	width:33%;
	display:inline-block;
	text-align:center;
	/*background-color:#CCC;*/
}

.dot {
	background: #fff;
	overflow:hidden;
	-moz-border-radius: 10em;
	-webkit-border-radius: 10em;
	border-radius: 10em;
	color: #fff;
	display: inline-block;
	height: 10em;
	font-size: 1.4em;
	line-height: 10em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 10em;
	margin: 1em;
	text-shadow: 0px 1px 3px #808080;
	
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.dot:hover{
	opacity: 0.7;
	color:#000;
	text-shadow: 0px 1px 8px #b5b5b5;
}

/*----------- END DOTS ------------------------------------------*/




/*----------- RESPONSIVE ------------------------------------------*/
@media (max-width:600px) {
	body { 
   }
   
	#masthead img {
		margin: 4%;
		width: 40%;
	}
	
	
	#nav li {
		font-size: 1em;
		line-height:108%;
		margin: 0 0 0.8em 0;
		padding: 0px;
	}
	
	.da-thumbs li {
		width: 100%;
		display:block;
	}
	
	.dotLayout {
		display: block;
		text-align:center;
		position:relative;
		width: 100%
	}
	
	.dot {
	}
	
	.header-links-container {
	display:inline-block;
	float:right;
	text-align:center;
	margin-right: 1em;
	width:100%;
	/*background-color:#000;*/
}
  
}

/*----------- MOBILE -------------*/
@media (max-width:768px) {
	body { 
   }
   
	#masthead img {
		margin: 4%;
		width: 40%;
	}
	
	#nav {
	}
	
	#nav li {
		font-size: 1em;
		line-height:108%;
		margin: 0 0 0.8em 0;
		padding: 0px;
	}
	
	.da-thumbs li {
		width: 50%;
	}
	
	.dotLayout {
		width:100%;
	}
	
	.welcome-showhide {
		display:none;
	}
  }


/*----------- DESKTOP -------------*/
@media (min-width:769px) {
	body {
	}
	#masthead img {
		margin: 4%;
		width: 20%;
	}
	.dot {
		-moz-border-radius: 10em;
		-webkit-border-radius: 10em;
		border-radius: 10em;
		height: 10em;
		font-size: 1.4em;
		line-height: 10em;
		width: 10em;
		margin: 1em;
	}
	
	/*.header-logo {
		display: inline-block;
	}*/

	.welcome-showhide {
		display:inline;
	}
}

/*----------- MEDIUM -------------*/
@media (min-width:960px) {
	body {
	}
	
	#masthead img {
		margin: 4%;
		width: 20%;
	}
	
	.dotLayout {
	width:33%;
	}
	
	.dot {
		-moz-border-radius: 10.0em;
		-webkit-border-radius: 10.0em;
		border-radius: 10.0em;
		height: 10.0em;
		font-size: 1.5em;
		line-height: 10.0em;
		width: 10.0em;
		margin: 1em;
	}
	
	.header-logo {
		display: inline-block;
	}

	.header-links-container {
		display: inline-block;
	}
}

/*----------- BIG -------------*/
@media (min-width:1720px) {
	body {
	}
	
	#masthead img {
		margin: 4%;
		width: 20%;
	}
	
	.da-thumbs li {
		width: 16.66666666666667%;
	}
	
	.dotLayout {
	width:18%;
	}
	
	.dot {
		-moz-border-radius: 10.8;
		-webkit-border-radius: 10.8;
		border-radius: 10.8;
		height: 10.8;
		font-size: 1.4em;
		line-height: 10.8;
		width: 10.8;
		margin: 0.8em;
	}
	
	.header-logo {
		display: inline-block;
	}

	.header-links-container {
		display: inline-block;
	}
}
